<p>
  <strong></strong>
  <%= image_tag(@product.image_url) %>
</p>
<p>
  <strong><%= I18n.t('.prodname') %></strong>
  <%= @product.title %>
</p>

<p>
  <strong><%= I18n.t('proddescr') %></strong>
  <%= @product.description %>
</p>
<p>
  <strong><%= I18n.t('prodprice') %></strong>
  <%= number_to_currency(@product.price, :unit =>'AZN') %>
</p>
<% if can?  :update, @product %>
<%= link_to I18n.t('.prodedit'), edit_product_path(@product) %> |
<% end %>
<%= link_to I18n.t('.prodback'), store_path %>
